.page {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  display: grid;
  justify-items: center;
  /* grid-template-columns: 100%; */
  grid-template-columns: 48px auto 48px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  '. header .'
  'content content content'
  '. footer .';
  /* Ограничение контента */
  max-width: 1280px;
  margin: 0 auto;
  /* min-height: 100vh; */
  /* padding: 28px 48px 24px; */
  padding: 28px 0 24px;
  box-sizing: border-box;
  background-color: #2a2c2f;
  color: #fff;
}

@media (max-width: 800px) {
  .page {
    grid-template-columns: 24px auto 24px;
  }
}

@media (max-width: 680px) {
  .page {
    grid-template-columns: 16px auto 16px;
  }
}
