.photo-grid {
  grid-area: photo-grid;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 16px; */
}

/* @media (max-width: 1080px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 880px) {
  .photo-grid {
    gap: 16px;
  }
}

@media (max-width: 720px) {
  .photo-grid {
    gap: 12px;
  }
} */
