.content {
  grid-area: content;
  width: 100%;
  padding: 56px 0 92px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 48px auto 48px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  '. lead .'
  '. intro .'
  '. photo-grid .'
  '. places .'
  '. cover .';
  justify-items: center;
  row-gap: 92px;
}

@media (max-width: 1080px) {
  .content {
    padding: 48px 0 92px;
    grid-template-areas:
    '. lead .'
    '. intro .'
    '. photo-grid .'
    '. places .'
    'cover cover cover';
  }
}

@media (max-width: 880px) {
  .content {
    padding: 48px 0 88px;
    grid-template-columns: 24px auto 24px;
    grid-template-areas:
    'lead lead lead'
    '. intro .'
    '. photo-grid .'
    '. places .'
    'cover cover cover';
    row-gap: 88px;
  }
}

@media (max-width: 720px) {
  .content {
    padding: 48px 0 64px;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    'lead lead lead'
    '. intro .'
    '. photo-grid .'
    'places places places'
    'cover cover cover';
    row-gap: 64px;
  }
}
