.lead__subtitle {
  margin: 32px 0 56px;
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 680px) {
  .lead__subtitle {
    margin: 16px 0 40px;
    max-width: calc(100% - 2*16px);
    font-size: 16px;
    line-height: 1.25;
  }
}
