.cover {
  grid-area: cover;
  /* background-image: url('../../images/cover__background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  min-height: 640px;
  width: 100%;
}
