.cover {
  grid-area: cover;
  /* display: grid;
  align-items: center; */
  /* background-image: url('../../images/cover__background.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  min-height: 640px;
  width: 100%;
}
