.place {
  display: grid;
  grid-template-columns: 460px auto;
  /* плавное масштабирование рисунка */
  /* grid-template-columns: 46.5% auto; */
  grid-template-rows: min-content auto;
  grid-template-areas:
  'title url'
  'image content';
  column-gap: 40px;
  row-gap: 48px;
}

@media (max-width: 1080px) {
  .place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media (max-width: 880px) {
  .place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
  }
}

@media (max-width: 720px) {
  .place {
    grid-template-columns: 16px auto 16px;
    grid-auto-rows: auto;
    grid-template-areas:
    '. title .'
    '. url .'
    'image image image'
    '. content .';
    column-gap: 0;
    row-gap: 32px;
  }
}
